<div class="row">
	<div class="span6 offset3">
		<h1>Rent is due.</h1>
		<p>Your monthly paycheck is delayed for a week, and you're low on cash. Ever the optimist, you have decided to use this turn of events as a way to "minimalize" your living space.</p>
		<strong><i>tl;dr:</i></strong>
		<ul>
			<li>Sell your stuff</li>
			<li>Collect $800 before the time runs out</li>
			<li>If you don't make enough, <b>you lose.</b></li>
			<li>Your <b>Gross Domestic Happiness</b> (the bar at the top) influences how well you score at the end.</li>
			<li><b>Good luck!</b></li>
		</ul>
	</div>
</div>